
$backgroundLight: #F5F5F5;
$darkGray: #EBEBEB;
$textColor: #1d1d1d;
$PrimaryButtonBorder: linear-gradient(45deg, #e36577, #f6edb2);
$transitionDelay: 0.4s;
$toggleBoxShadow: inset 0 0.2rem 6rem rgba(0, 0, 0, 0.1), inset 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1), inset 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.05);
$switchBackground: linear-gradient(to bottom, #eaeaea, #f9f9f9);
$switchBoxShadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1), inset 0 0.4rem 0.4rem rgba(255, 255, 255, 1), inset 0 -0.4rem 0.4rem rgba(255, 255, 255, 1);
$subheadingColor: #6e6e6e;

@mixin gray-btn {
            border: none;
            cursor: pointer;
            background-color: rgb(229, 229, 229);
            border-radius: 100px;
            padding: 11px 4px 11px 4px;

            span {
                background-color: white;
                font-size: 16px;
                font-weight: 500;
                padding: 7px 16px;
                border-radius: 100px;
            }
}

@mixin button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 22px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundLight;
    font-family: system-ui, sans-serif;
    color: $textColor;
}

.app {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.header {
    display: flex;
    height: 96px;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0 32px 0;
    padding: 0 32px 0 32px;
    // border: 1px solid black;


    .toggle-container {
        background-color:   white;
        display: block;
        cursor: pointer;
        height: 32px;
        width: 56px;
        border-radius: 100px;
        box-shadow: $toggleBoxShadow;
        transition: 0.3s;
        user-select: none;

        .switch {
            position: relative;
            top: 4px;
            height: 24px;
            width: 24px;
            background: $switchBackground;
            box-shadow: $switchBoxShadow;
            border-radius: 50%;



            .toggle{
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;

                }

                // .sun-icon {
                // }

                // .moon-icon {
                    // right: 4px;
                // }

            }
        }

        .switch.dark {
            margin-left: auto;
            right: 4.5px;
        }

        .switch.light {
            left: 4.5px;
        }
    }


    nav {
        background-color: $darkGray;
        border-radius: 100px;
        justify-content: center;
        cursor: pointer;

        ul {

            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            
            margin: 0;
            padding: 4px 5px;


    
            .filter {
                padding: 7px 16px;
                border-radius: 100px;
            }

            .filter.active {
                background-color: white;
            }
    
        }
    }



    a {
        text-decoration: none;
        color: $textColor;
    }

    .nav-btn {
        border: none;
        cursor: pointer;
        padding: 11px 4px 11px 4px;
        background: $PrimaryButtonBorder;
        border-radius: 100px;
        transition: transform $transitionDelay ease-in-out;


        span {
            background-color: white;
            font-size: 16px;
            font-weight: 600;
            padding: 7px 16px;
            border-radius: 100px;

        }
    }

    .nav-btn:hover{
        transform: scale(1.05);
    }
}

.banner {
    height: 30px;
    background-color: #f7df1e;
    width: 100vw;
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(4, 266px);
    grid-template-rows: repeat(6, 266px);
    gap: 24px;
    margin-bottom: 80px;
    justify-content: center;
    margin-top: 80px;

    grid-auto-flow: dense;
}

.card {

    // display: flex;
    // flex-direction: column;

    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 0px 20px #efefef;

    text-align: center;

    h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing:.5px;
        margin: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: $textColor;
        line-height: 1.5em;
        margin: 20px 30px 0 30px;
        text-align: center;
    }




}



.about-me-card {
    @extend .card;
    grid-column: span 2;

    h1 {
        font-size: 52px;
        font-weight: 800;
        line-height: 1.3;
        margin-top: 16px;
        background: $PrimaryButtonBorder;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        pointer-events: none;
    }

    h3 {
        font-size: 22px;
        font-weight: 500;
    }

    p {
        margin-top: 18px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 400;
        width: 48ch;
    }

    .btn-container {
        @include button-container;

        a {
            text-decoration: none;
            color: $textColor;
        }

        .work-btn {
            border: none;
            cursor: pointer;
            padding: 11px 4px 11px 4px;
            background: $PrimaryButtonBorder;
            border-radius: 100px;

            span {
                background-color: white;
                font-size: 16px;
                font-weight: 500;
                padding: 7px 16px;
                border-radius: 100px;
            }

        }

        .see-more-btn {
            @include gray-btn;
        }

    }
}

.social-card {
    @extend .card;

    a {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        scale: 0.3;
    }

}

.social-card:hover {
    cursor: pointer;
    scale: 1.01;
}

.instagram {
    background: radial-gradient( circle farthest-corner at 35% 90%, #fec564, transparent 50% ), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient( ellipse farthest-corner at 20% -50%, #5258cf, transparent 50% ), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient( ellipse farthest-corner at 60% -20%, #893dc2, transparent 50% ), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient( #6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100% );
}

.facebook {
    background-color: #1887F2;
}

.github {
    background-color: #2b2b2b;
    grid-column: span 2;

    img {
        width: 50%;
    }
}

.linkedin {
    background-color: #0A66C2;
}

.twitterx {
    background-color: #000000;

    img {
        scale: 0.4;
    }
}

.skills-card {
    @extend .card;
    grid-row: span 2;
    // gap: 20px;


    .skill-div {
        display: flex;
        // margin: 17px;
        margin: 13px;
        align-items: center;
        margin-left: 50px;

        h5 {
            color: $textColor;
            letter-spacing: 0.3px;
            font-weight: 600;
        }
    }

    img {
        height: 30px;
        width: 30px;
        margin-right: 20px;

    }

    // background-color: #000000;
    // color: whitesmoke;
}

.card {
    a {
        text-decoration: none;
        color: $textColor;
    }

    .btn-container-small-card {
        @include button-container;
        margin-top: 10px
    }

    .projects-btn{
        @include gray-btn;
    }


}

.project-card {
    @extend .card;
    grid-row: span 2;
    padding: 32px;
    text-align: left;


    p {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: $subheadingColor;
        pointer-events: none;
        text-align: left;

        margin: 0;
        padding: 0;
    }

    h2 {
        margin: 0;
        padding: 0;

        font-size: 30px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .project-card-icons {
        display: flex;
        gap: 10px;
        margin-top: 7px;

        img {
            height: 25px;
        }
    }

    .project-img-container {
        display: flex;
        height: 270px;
        width: 202px;
        border-radius: 10px;
        overflow: hidden;
        margin: 10px 0;
        justify-content: start;
        align-items: center;

        img {
            // max-width: 100%;
            max-height: 100%;
            margin-left: -30px;
        }
    }

    .project-btn {
        display: flex;
        justify-content: center;
        height: auto;
        // margin-top: auto;
    }

}