* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: system-ui, sans-serif;
  color: #1d1d1d;
}

.header {
  display: flex;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 32px 0;
  padding: 0 32px 0 32px;
}
.header .toggle-container {
  background-color: white;
  display: block;
  cursor: pointer;
  height: 32px;
  width: 56px;
  border-radius: 100px;
  box-shadow: inset 0 0.2rem 6rem rgba(0, 0, 0, 0.1), inset 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1), inset 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .toggle-container .switch {
  position: relative;
  top: 4px;
  height: 24px;
  width: 24px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1), inset 0 0.4rem 0.4rem rgb(255, 255, 255), inset 0 -0.4rem 0.4rem rgb(255, 255, 255);
  border-radius: 50%;
}
.header .toggle-container .switch .toggle {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header .toggle-container .switch .toggle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header .toggle-container .switch.dark {
  margin-left: auto;
  right: 4.5px;
}
.header .toggle-container .switch.light {
  left: 4.5px;
}
.header nav {
  background-color: #EBEBEB;
  border-radius: 100px;
  justify-content: center;
  cursor: pointer;
}
.header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 4px 5px;
}
.header nav ul .filter {
  padding: 7px 16px;
  border-radius: 100px;
}
.header nav ul .filter.active {
  background-color: white;
}
.header a {
  text-decoration: none;
  color: #1d1d1d;
}
.header .nav-btn {
  border: none;
  cursor: pointer;
  padding: 11px 4px 11px 4px;
  background: linear-gradient(45deg, #e36577, #f6edb2);
  border-radius: 100px;
  transition: transform 0.4s ease-in-out;
}
.header .nav-btn:hover {
  transform: scale(1.05);
}
.header .nav-btn span {
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 16px;
  border-radius: 100px;
}

.banner {
  height: 30px;
  background-color: #f7df1e;
  width: 100vw;
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 266px);
  grid-template-rows: repeat(5, 266px);
  gap: 24px;
  margin-bottom: 80px;
  justify-content: center;
  margin-top: 80px;
  grid-auto-flow: dense;
}

.card, .hardware-card, .music-card, .project-card, .small-text-card, .img-card, .skills-card, .social-card, .about-me-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 0px 20px #efefef;
  text-align: center;
}
.card h2, .hardware-card h2, .music-card h2, .project-card h2, .small-text-card h2, .img-card h2, .skills-card h2, .social-card h2, .about-me-card h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 20px;
  margin-bottom: 10px;
}
.card p, .hardware-card p, .music-card p, .project-card p, .small-text-card p, .img-card p, .skills-card p, .social-card p, .about-me-card p {
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1d;
  line-height: 1.5em;
  margin: 0px 30px 0 30px;
  text-align: center;
}

.about-me-card {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-me-card h1 {
  font-size: 52px;
  font-weight: 800;
  line-height: 1.3;
  margin-top: 16px;
  background: linear-gradient(45deg, #e36577, #f6edb2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}
.about-me-card h3 {
  font-size: 22px;
  font-weight: 500;
}
.about-me-card p {
  margin: 18px auto 0px auto;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  width: 48ch;
}
.about-me-card .btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  position: absolute;
  bottom: 25px;
  transform: translateX(-50%);
  left: 50%;
}
@media (max-width: 1199px) {
  .about-me-card .btn-container {
    bottom: 15px;
  }
}
@media (max-width: 545px) {
  .about-me-card .btn-container {
    width: 300px;
    bottom: 25px;
  }
}
@media (max-width: 359px) {
  .about-me-card .btn-container {
    bottom: 14px;
  }
}
.about-me-card .btn-container a {
  text-decoration: none;
  color: #1d1d1d;
}
.about-me-card .btn-container .work-btn {
  border: none;
  cursor: pointer;
  padding: 11px 4px 11px 4px;
  background: linear-gradient(45deg, #e36577, #f6edb2);
  border-radius: 100px;
  transition: transform 0.4s ease-in-out;
}
.about-me-card .btn-container .work-btn:hover {
  transform: scale(1.05);
}
.about-me-card .btn-container .work-btn span {
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 16px;
  border-radius: 100px;
}
.about-me-card .btn-container .see-more-btn {
  border: none;
  cursor: pointer;
  background-color: rgb(229, 229, 229);
  border-radius: 100px;
  padding: 11px 4px 11px 4px;
  transition: transform 0.4s ease-in-out;
}
.about-me-card .btn-container .see-more-btn span {
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 16px;
  border-radius: 100px;
}
@media (max-width: 1199px) {
  .about-me-card .btn-container .see-more-btn {
    padding: 7px 4px 10px 4px;
  }
  .about-me-card .btn-container .see-more-btn span {
    font-size: 12.5px;
    padding: 6px 12px;
  }
}
@media (max-width: 545px) {
  .about-me-card .btn-container .see-more-btn {
    padding: 9.5px 4px 10px 4px;
  }
  .about-me-card .btn-container .see-more-btn span {
    font-size: 15px;
    padding: 6px 12px;
  }
}
@media (max-width: 359px) {
  .about-me-card .btn-container .see-more-btn {
    padding: 8px 4px 10px 4px;
  }
  .about-me-card .btn-container .see-more-btn span {
    font-size: 13px;
    padding: 6px 11px;
  }
}
.about-me-card .btn-container .see-more-btn:hover {
  transform: scale(1.05);
}

.social-card a {
  width: 100%;
  height: 100%;
}
.social-card img {
  width: 100%;
  height: 100%;
  scale: 0.3;
}

.social-card:hover {
  cursor: pointer;
}
.social-card:hover img {
  transition: transform 0.4s ease-in-out;
}
.social-card:hover img:hover {
  transform: scale(1.05);
}

.instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.facebook {
  background-color: #1887F2;
}

.github {
  background-color: #2b2b2b;
  grid-column: span 2;
  align-items: center;
}
.github img {
  width: 50%;
}

.linkedin {
  background-color: #0A66C2;
}

.twitterx {
  background-color: #000000;
}
.twitterx img {
  scale: 0.4;
}

.skills-card {
  grid-row: span 2;
}
.skills-card h2 {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.skills-card .skill-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.skills-card .skill-container .skill-div {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.skills-card .skill-container .skill-div h5 {
  letter-spacing: 0.3px;
  font-weight: 600;
}
.skills-card .skill-container img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.img-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 32px;
  opacity: 95%;
}

.card a, .hardware-card a, .music-card a, .project-card a, .small-text-card a, .about-me-card a, .social-card a, .skills-card a, .img-card a {
  text-decoration: none;
  color: #1d1d1d;
}
.card .projects-btn, .hardware-card .projects-btn, .music-card .projects-btn, .project-card .projects-btn, .small-text-card .projects-btn, .about-me-card .projects-btn, .social-card .projects-btn, .skills-card .projects-btn, .img-card .projects-btn {
  border: none;
  cursor: pointer;
  background-color: rgb(229, 229, 229);
  border-radius: 100px;
  padding: 11px 4px 11px 4px;
  transition: transform 0.4s ease-in-out;
}
.card .projects-btn span, .hardware-card .projects-btn span, .music-card .projects-btn span, .project-card .projects-btn span, .small-text-card .projects-btn span, .about-me-card .projects-btn span, .social-card .projects-btn span, .skills-card .projects-btn span, .img-card .projects-btn span {
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 16px;
  border-radius: 100px;
}
@media (max-width: 1199px) {
  .card .projects-btn, .hardware-card .projects-btn, .music-card .projects-btn, .project-card .projects-btn, .small-text-card .projects-btn, .about-me-card .projects-btn, .social-card .projects-btn, .skills-card .projects-btn, .img-card .projects-btn {
    padding: 7px 4px 10px 4px;
  }
  .card .projects-btn span, .hardware-card .projects-btn span, .music-card .projects-btn span, .project-card .projects-btn span, .small-text-card .projects-btn span, .about-me-card .projects-btn span, .social-card .projects-btn span, .skills-card .projects-btn span, .img-card .projects-btn span {
    font-size: 12.5px;
    padding: 6px 12px;
  }
}
@media (max-width: 545px) {
  .card .projects-btn, .hardware-card .projects-btn, .music-card .projects-btn, .project-card .projects-btn, .small-text-card .projects-btn, .about-me-card .projects-btn, .social-card .projects-btn, .skills-card .projects-btn, .img-card .projects-btn {
    padding: 9.5px 4px 10px 4px;
  }
  .card .projects-btn span, .hardware-card .projects-btn span, .music-card .projects-btn span, .project-card .projects-btn span, .small-text-card .projects-btn span, .about-me-card .projects-btn span, .social-card .projects-btn span, .skills-card .projects-btn span, .img-card .projects-btn span {
    font-size: 15px;
    padding: 6px 12px;
  }
}
@media (max-width: 359px) {
  .card .projects-btn, .hardware-card .projects-btn, .music-card .projects-btn, .project-card .projects-btn, .small-text-card .projects-btn, .about-me-card .projects-btn, .social-card .projects-btn, .skills-card .projects-btn, .img-card .projects-btn {
    padding: 8px 4px 10px 4px;
  }
  .card .projects-btn span, .hardware-card .projects-btn span, .music-card .projects-btn span, .project-card .projects-btn span, .small-text-card .projects-btn span, .about-me-card .projects-btn span, .social-card .projects-btn span, .skills-card .projects-btn span, .img-card .projects-btn span {
    font-size: 13px;
    padding: 6px 11px;
  }
}
.card .projects-btn:hover, .hardware-card .projects-btn:hover, .music-card .projects-btn:hover, .project-card .projects-btn:hover, .small-text-card .projects-btn:hover, .about-me-card .projects-btn:hover, .social-card .projects-btn:hover, .skills-card .projects-btn:hover, .img-card .projects-btn:hover {
  transform: scale(1.05);
}

.small-text-card {
  position: relative;
}
.small-text-card .btn-container-small-card {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 25px;
}

.project-card {
  grid-row: span 2;
  padding: 32px;
  text-align: left;
}
.project-card p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #6e6e6e;
  pointer-events: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.project-card h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
}
.project-card .project-card-icons {
  display: flex;
  gap: 10px;
  margin-top: 7px;
}
.project-card .project-card-icons img {
  height: 25px;
}
.project-card .project-img-container {
  display: flex;
  height: 270px;
  width: 202px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  justify-content: start;
  align-items: center;
}
.project-card .project-img-container img {
  max-height: 100%;
  margin-left: -30px;
}
.project-card .project-btn {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: auto;
}

.music-card {
  grid-column: span 2;
}
.music-card img {
  height: 100px;
}

.hardware-card {
  grid-column: span 2;
  padding: 32px;
  text-align: left;
}
.hardware-card h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 20px 0;
}
.hardware-card .hardware-item {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 0;
  color: rgba(110, 110, 110, 0.4509803922);
}
.hardware-card .hardware-item.active {
  color: #1d1d1d;
}
.hardware-card .hardware-grid {
  display: flex;
}
.hardware-card .hardware-grid-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.hardware-card .hardware-grid-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.hardware-card img {
  max-height: 150px;
}

.page {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

@media (max-width: 1199px) {
  .page {
    max-width: 1000px;
  }
  .header {
    max-width: 1000px;
  }
  .main-container {
    max-width: 1000px;
    grid-template-columns: repeat(4, 216px);
    grid-template-rows: repeat(5, 216px);
  }
  .header nav ul {
    font-size: 14.5px;
  }
  .header .nav-btn {
    padding: 10px 4px 11px 4px;
  }
  .header .nav-btn span {
    font-size: 14.5px;
    padding: 7px 16px;
  }
  .about-me-card h1 {
    font-size: 38px;
  }
  .about-me-card h3 {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: -6px;
  }
  .about-me-card p {
    font-size: 13.5px;
    width: 48ch;
  }
  .about-me-card .btn-container .work-btn {
    padding: 7px 4px 6px 4px;
  }
  .about-me-card .btn-container .work-btn span {
    font-size: 12.5px;
    padding: 6px 12px;
  }
  .card h2, .about-me-card h2, .social-card h2, .skills-card h2, .img-card h2, .small-text-card h2, .project-card h2, .music-card h2, .hardware-card h2 {
    font-size: 23px;
  }
  .skills-card {
    gap: 11px;
  }
  .skills-card h2 {
    margin-bottom: 0px;
  }
  .skills-card .skill-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .skills-card .skill-container .skill-div {
    margin-left: 30px;
  }
  .skills-card .skill-container .skill-div h5 {
    font-size: 12px;
  }
  .skills-card .skill-container img {
    height: 25px;
    width: 25px;
    margin-right: 17px;
  }
  .small-text-card p {
    font-size: 13.5px;
    margin: 0px 20px;
  }
  .small-text-card .btn-container-small-card {
    margin-top: auto;
    padding-bottom: 15px;
  }
  .hardware-card h2 {
    margin: 0px 0px 16px 0;
  }
  .hardware-card .hardware-item {
    font-size: 20px;
  }
  .hardware-card img {
    max-height: 125px;
  }
  .project-card p {
    font-size: 11.5px;
  }
  .project-card .project-card-icons img {
    height: 20px;
  }
  .project-card .project-img-container {
    height: 210px;
    width: 152px;
  }
}
@media (max-width: 999px) {
  .page {
    max-width: 800px;
  }
  .header {
    max-width: 800px;
  }
  .main-container {
    max-width: 800px;
    grid-template-columns: repeat(3, 229px);
    grid-template-rows: repeat(7, 229px);
  }
  .about-me-card h1 {
    font-size: 40px;
  }
  .about-me-card p {
    font-size: 14.5px;
    width: 47ch;
  }
  .card h2, .about-me-card h2, .social-card h2, .skills-card h2, .img-card h2, .small-text-card h2, .project-card h2, .music-card h2, .hardware-card h2 {
    font-size: 25px;
  }
  .skills-card {
    gap: 11.5px;
  }
  .skills-card h2 {
    margin-bottom: 5px;
  }
  .skills-card .skill-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .skills-card .skill-container .skill-div {
    margin-left: 30px;
  }
  .skills-card .skill-container .skill-div h5 {
    font-size: 13px;
  }
  .skills-card .skill-container img {
    height: 25px;
    width: 25px;
    margin-right: 17px;
  }
  .small-text-card p {
    font-size: 14px;
  }
  .hardware-card h2 {
    margin: 0px 0px 16px 0;
  }
  .hardware-card .hardware-item {
    font-size: 20px;
  }
  .hardware-card img {
    max-height: 125px;
  }
  .project-card p {
    font-size: 11.5px;
  }
  .project-card .project-card-icons img {
    height: 20px;
  }
  .project-card .project-img-container {
    height: 210px;
    width: 170px;
  }
}
@media (max-width: 799px) {
  .page {
    max-width: 482px;
  }
  .main-container {
    max-width: 482px;
    grid-template-columns: repeat(2, 229px);
    grid-template-rows: repeat(10, 229px);
  }
  .header {
    max-width: 482px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    gap: 32px;
    margin-bottom: 74px;
    align-self: center;
    margin-left: auto;
  }
  .header .toggle-container {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
  }
  .header nav {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    position: relative;
  }
  .header nav ul {
    font-size: 14.5px;
    gap: 13.5px;
  }
  .header .nav-btn {
    padding: 10px 4px 11px 4px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
  .header .nav-btn span {
    font-size: 14.5px;
    padding: 7px 16px;
  }
  .about-me-card h1 {
    font-size: 38px;
  }
  .about-me-card h3 {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: -6px;
  }
  .about-me-card p {
    font-size: 13.5px;
    width: 48ch;
  }
  .about-me-card .btn-container .work-btn {
    padding: 7px 4px 6px 4px;
  }
  .about-me-card .btn-container .work-btn span {
    font-size: 12.5px;
    padding: 6px 12px;
  }
  .card h2, .about-me-card h2, .social-card h2, .skills-card h2, .img-card h2, .small-text-card h2, .project-card h2, .music-card h2, .hardware-card h2 {
    font-size: 23px;
  }
  .skills-card {
    gap: 13px;
  }
  .skills-card h2 {
    margin-bottom: 8px;
  }
  .skills-card .skill-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .skills-card .skill-container .skill-div {
    margin-left: 30px;
  }
  .skills-card .skill-container .skill-div h5 {
    font-size: 13px;
  }
  .skills-card .skill-container img {
    height: 25px;
    width: 25px;
    margin-right: 17px;
  }
  .small-text-card p {
    font-size: 13.5px;
    margin: 0px 20px;
  }
  .small-text-card .btn-container-small-card {
    margin-top: auto;
    padding-bottom: 15px;
  }
  .hardware-card h2 {
    margin: 0px 0px 16px 0;
  }
  .hardware-card .hardware-item {
    font-size: 20px;
  }
  .hardware-card img {
    max-height: 125px;
  }
  .project-card p {
    font-size: 11.5px;
  }
  .project-card .project-card-icons img {
    height: 20px;
  }
  .project-card .project-img-container {
    height: 210px;
    width: 172px;
  }
}
@media (max-width: 545px) {
  .page {
    max-width: 360px;
  }
  .header {
    max-width: 360px;
  }
  .main-container {
    max-width: 360px;
    grid-template-columns: repeat(2, 168px);
    grid-template-rows: repeat(19, 168px);
  }
  .header {
    padding: 0px 5px;
  }
  .header nav ul {
    gap: 0px;
    font-size: 15px;
  }
  .header nav ul .filter {
    padding: 6px 14px;
  }
  .header .nav-btn {
    padding: 9px 4px 11px 4px;
  }
  .header .nav-btn span {
    font-size: 14.5px;
    padding: 6.5px 13px;
  }
  .about-me-card {
    text-align: left;
    padding: 32px;
  }
  .about-me-card h1 {
    font-size: 42px;
    margin: 0;
  }
  .about-me-card h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .about-me-card p {
    font-size: 15px;
    width: 30ch;
    text-align: left;
    margin-left: 0;
  }
  .about-me-card .btn-container .work-btn {
    padding: 10px 4px 10px 4px;
  }
  .about-me-card .btn-container .work-btn span {
    font-size: 15px;
    padding: 6px 12px 6px 12px;
  }
  .card, .about-me-card, .social-card, .skills-card, .img-card, .small-text-card, .project-card, .music-card, .hardware-card {
    grid-column: span 2;
    grid-row: span 2;
  }
  .card h2, .about-me-card h2, .social-card h2, .skills-card h2, .img-card h2, .small-text-card h2, .project-card h2, .music-card h2, .hardware-card h2 {
    font-size: 30px;
  }
  .skills-card {
    gap: 18px;
    padding: 32px;
  }
  .skills-card h2 {
    margin: 0;
  }
  .skills-card .skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin: 0;
  }
  .skills-card .skill-container .skill-div {
    display: flex;
    align-items: center;
    margin-left: 0px;
    width: 160px;
    flex-basis: 50%;
  }
  .skills-card .skill-container img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
  .small-text-card {
    padding: 32px;
  }
  .small-text-card h2 {
    margin: 0;
  }
  .small-text-card p {
    font-size: 18px;
    margin-top: 40px;
    font-weight: 500;
    width: 20ch;
    align-self: center;
  }
  .small-text-card .btn-container-small-card {
    margin-top: auto;
    padding-bottom: 8px;
  }
  .hardware-card {
    grid-column: span 2;
    padding: 32px;
  }
  .hardware-card h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0px 0px 8px 0;
    text-align: center;
  }
  .hardware-card .hardware-item {
    cursor: pointer;
    font-size: 22px;
    margin-left: 0;
    line-height: 1.2em;
    margin-right: 0;
  }
  .hardware-card .hardware-grid {
    display: flex;
    flex-direction: column;
  }
  .hardware-card .hardware-grid-left {
    order: 2;
    align-items: center;
  }
  .hardware-card .hardware-grid-right {
    order: 1;
    display: flex;
    justify-content: center;
  }
  .hardware-card img {
    max-height: 150px;
    margin-bottom: 10px;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-card p {
    font-size: 12px;
  }
  .project-card h2 {
    margin-bottom: 8px;
  }
  .project-card .project-card-icons {
    display: flex;
    gap: 10px;
    margin-top: 7px;
  }
  .project-card .project-card-icons img {
    height: 22px;
  }
  .project-card .project-img-container {
    display: flex;
    height: 270px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
  }
  .project-card .project-img-container img {
    max-width: 100%;
    margin-left: 0px;
    border-radius: 10px;
  }
  .project-card .project-btn {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: auto;
  }
  .social-card {
    grid-column: span 1;
    grid-row: span 1;
  }
  .github {
    grid-column: span 2;
  }
}
@media (max-width: 423px) {
  .main-container {
    max-width: 360px;
    grid-template-columns: repeat(2, 161px);
    grid-template-rows: repeat(19, 161px);
  }
  .header {
    padding: 0px 5px;
  }
  .header nav ul {
    gap: 0px;
    font-size: 15px;
  }
  .header nav ul .filter {
    padding: 6px 14px;
  }
  .header .nav-btn {
    padding: 9px 4px 11px 4px;
  }
  .header .nav-btn span {
    font-size: 14.5px;
    padding: 6.5px 13px;
  }
  .about-me-card h1 {
    font-size: 40px;
  }
  .about-me-card h3 {
    font-size: 22px;
  }
  .about-me-card p {
    font-size: 14px;
  }
  .skills-card {
    gap: 16px;
  }
  .skills-card .skill-container img {
    height: 28px;
    width: 28px;
  }
}
@media (max-width: 409px) {
  .page {
    max-width: 330px;
  }
  .header {
    max-width: 330px;
  }
  .main-container {
    max-width: 330px;
    grid-template-columns: repeat(2, 151px);
    grid-template-rows: repeat(19, 151px);
  }
  .header {
    padding: 0px;
  }
  .header nav ul {
    gap: 0px;
    font-size: 14px;
  }
  .header nav ul .filter {
    padding: 6px 13px;
  }
  .header .nav-btn {
    padding: 9px 4px 11px 4px;
  }
  .header .nav-btn span {
    font-size: 14.5px;
    padding: 6.5px 13px;
  }
  .about-me-card {
    padding: 24px;
  }
  .about-me-card h1 {
    font-size: 40px;
  }
  .about-me-card h3 {
    font-size: 22px;
  }
  .about-me-card p {
    margin-top: 10px;
    font-size: 14px;
  }
  .card h2, .about-me-card h2, .social-card h2, .skills-card h2, .img-card h2, .small-text-card h2, .project-card h2, .music-card h2, .hardware-card h2 {
    font-size: 28px;
  }
  .skills-card {
    padding: 24px;
    gap: 16px;
  }
  .skills-card .skill-container img {
    height: 28px;
    width: 28px;
  }
  .small-text-card {
    padding: 24px;
  }
  .small-text-card p {
    margin-top: 25px;
  }
  .hardware-card {
    padding: 24px;
  }
  .hardware-card img {
    margin-bottom: 0;
  }
  .project-card {
    padding: 24px;
  }
}
@media (max-width: 373px) {
  .page {
    max-width: 288px;
  }
  .header {
    max-width: 288px;
  }
  .main-container {
    max-width: 288px;
    grid-template-columns: repeat(2, 144px);
    grid-template-rows: repeat(19, 144px);
  }
  .header {
    padding: 0px;
  }
  .header nav ul {
    gap: 0px;
    font-size: 14px;
  }
  .header nav ul .filter {
    padding: 6px 10px;
  }
  .header .nav-btn {
    padding: 9px 4px 11px 4px;
  }
  .header .nav-btn span {
    font-size: 14.5px;
    padding: 6.5px 13px;
  }
  .about-me-card {
    padding: 24px;
  }
  .about-me-card h1 {
    font-size: 38px;
  }
  .about-me-card h3 {
    font-size: 20px;
  }
  .about-me-card p {
    font-size: 14px;
    margin-top: 10px;
  }
  .card h2, .about-me-card h2, .social-card h2, .skills-card h2, .img-card h2, .small-text-card h2, .project-card h2, .music-card h2, .hardware-card h2 {
    font-size: 28px;
  }
  .skills-card {
    padding: 24px;
    gap: 14px;
  }
  .skills-card .skill-container {
    gap: 13px;
  }
  .skills-card .skill-container h5 {
    font-size: 12px;
  }
  .skills-card .skill-container img {
    height: 26px;
    width: 26px;
  }
  .small-text-card {
    padding: 24px;
  }
  .small-text-card p {
    margin-top: 20px;
  }
  .hardware-card {
    padding: 24px;
  }
  .hardware-card img {
    max-height: 120px;
  }
  .project-card {
    padding: 24px;
  }
}
@media (max-width: 359px) {
  .page {
    max-width: 272px;
  }
  .header {
    max-width: 272px;
  }
  .main-container {
    max-width: 272px;
    grid-template-columns: repeat(2, 128px);
    grid-template-rows: repeat(19, 128px);
    gap: 12px;
  }
  .header {
    padding: 0px;
  }
  .header nav ul {
    gap: 0px;
    font-size: 13px;
  }
  .header nav ul .filter {
    padding: 6px 10px;
  }
  .header .nav-btn {
    padding: 9px 4px 11px 4px;
  }
  .header .nav-btn span {
    font-size: 14.5px;
    padding: 6.5px 13px;
  }
  .about-me-card {
    padding: 16px;
  }
  .about-me-card h1 {
    font-size: 34px;
  }
  .about-me-card h3 {
    font-size: 18px;
  }
  .about-me-card p {
    font-size: 12.5px;
    margin-top: 5px;
  }
  .about-me-card .btn-container .work-btn {
    padding: 8px 4px 10px 4px;
  }
  .about-me-card .btn-container .work-btn span {
    font-size: 13px;
    padding: 6px 14px;
  }
  .card h2, .about-me-card h2, .social-card h2, .skills-card h2, .img-card h2, .small-text-card h2, .project-card h2, .music-card h2, .hardware-card h2 {
    font-size: 24px;
  }
  .skills-card {
    padding: 16px;
    gap: 10px;
  }
  .skills-card .skill-container {
    gap: 13px;
  }
  .skills-card .skill-container .skill-div {
    width: 140px;
  }
  .skills-card .skill-container .skill-div h5 {
    font-size: 12px;
  }
  .skills-card .skill-container .skill-div img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
  }
  .small-text-card {
    padding: 16px;
  }
  .small-text-card p {
    font-size: 16px;
    margin-top: 20px;
  }
  .hardware-card {
    padding: 16px;
  }
  .hardware-card img {
    max-height: 110px;
    margin-bottom: 5px;
  }
  .project-card {
    padding: 16px;
  }
}
.dark-mode {
  background-color: #1c1c1e;
  color: #fafafa;
}
.dark-mode p {
  color: #fafafa;
}
.dark-mode .header .toggle-container {
  background-color: #111112;
}
.dark-mode .header .toggle-container .switch {
  background: #111112;
  box-shadow: 0 0.8rem 4rem rgba(0, 0, 0, 0.5), inset 0 0.1rem 0.4rem rgba(255, 255, 255, 0.1), inset 0 -0.1rem 0.4rem rgba(255, 255, 255, 0.1);
}
.dark-mode .header nav {
  background-color: rgba(0, 0, 0, 0.4);
}
.dark-mode .header nav ul .filter.active {
  background-color: #2c2c2e;
}
.dark-mode .header a {
  color: #fafafa;
}
.dark-mode .header .nav-btn span {
  background-color: #1c1c1e;
}
.dark-mode .card, .dark-mode .about-me-card, .dark-mode .social-card, .dark-mode .skills-card, .dark-mode .img-card, .dark-mode .small-text-card, .dark-mode .project-card, .dark-mode .music-card, .dark-mode .hardware-card {
  background-color: #2c2c2e;
  box-shadow: none;
}
.dark-mode .about-me-card .btn-container a {
  text-decoration: none;
  color: #fafafa;
}
.dark-mode .about-me-card .btn-container .work-btn span {
  background-color: #1c1c1e;
}
.dark-mode .about-me-card .btn-container .see-more-btn {
  background-color: #1c1c1e;
}
.dark-mode .about-me-card .btn-container .see-more-btn span {
  background-color: #1c1c1e;
}
.dark-mode .card .projects-btn, .dark-mode .about-me-card .projects-btn, .dark-mode .social-card .projects-btn, .dark-mode .skills-card .projects-btn, .dark-mode .img-card .projects-btn, .dark-mode .small-text-card .projects-btn, .dark-mode .project-card .projects-btn, .dark-mode .music-card .projects-btn, .dark-mode .hardware-card .projects-btn {
  background-color: #1c1c1e;
  color: #fafafa;
}
.dark-mode .card .projects-btn span, .dark-mode .about-me-card .projects-btn span, .dark-mode .social-card .projects-btn span, .dark-mode .skills-card .projects-btn span, .dark-mode .img-card .projects-btn span, .dark-mode .small-text-card .projects-btn span, .dark-mode .project-card .projects-btn span, .dark-mode .music-card .projects-btn span, .dark-mode .hardware-card .projects-btn span {
  background-color: #1c1c1e;
}
.dark-mode .hardware-card .hardware-item {
  color: rgba(110, 110, 110, 0.4509803922);
}
.dark-mode .hardware-card .hardware-item.active {
  color: #fafafa;
}
.dark-mode .project-card p {
  color: rgba(250, 250, 250, 0.6);
}
.dark-mode .instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.dark-mode .facebook {
  background-color: #1887F2;
}
.dark-mode .github {
  background-color: #2b2b2b;
  grid-column: span 2;
  align-items: center;
}
.dark-mode .github img {
  width: 50%;
}
.dark-mode .linkedin {
  background-color: #0A66C2;
}
.dark-mode .twitterx {
  background-color: #000000;
}
.dark-mode .twitterx img {
  scale: 0.4;
}

.reduced-opacity {
  opacity: 15%;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */