/* .body {
  margin: 0;
  height: 100vh;
  width: 100vw;
} */


/* .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 32px auto 32px auto;
} */

/* .toggle-container, .navigation, .contact-btn {
  height: 30px;
  width: 50px;
  background-color: blue;
  margin: 10px;
} */
